<div id="id00" style="display:block;" class='show' onclick="myfunc2()">
click me now  <br>
To show code
The function use onclick event and trigger myfunc2()
</div>

<div id="code00">
<textarea cols="20" rows="20" id="textArea" style="display:none;font-size:18px;" class="hide"></textarea>
<script src="/Users/cat/myfile/bitbucket/jslib/aronlib.js"></script>y

<form action="/update" name="Update" class="hf" id="kk" method="POST">
    <textarea name="header" rows="20" id='f1' style="display:none;font-size:18px;"> 
    hidden text line 1 
    hidden text line 2 
    hidden text line 3 
    </textarea>
    <textarea name="myblock" spellcheck="false" autofocus="true" id='4d' class="show">
    this is my test line 1
    this is all my test line 2
    this is all my test line 33 
    </textarea>
    <div class="butcen">
            <input type="submit" name="update" value="update" id='1d' class="submitButton"> 
            <input type="submit" name="add"    value="add"    id='2d' class="submitButton"> 
            <input type="submit" name="delete" value="delete" id='3d' class="submitButton"> 
    </div>
</form>

<button onclick="copyToClipboardFromTextArea('f1');">Click to copy</button>

<script>
function myFunction() {
    var node = document.getElementById('id00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = textContent;
}

function myfunc2() {
 var selectedobj=document.getElementById('textArea');

  if(selectedobj.className=='hide'){  //check if classname is hide 
    selectedobj.style.display = "block";
    selectedobj.readOnly=false;
    selectedobj.className ='show';

    var node = document.getElementById('code00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = htmlContent;

    var mytextObj =document.getElementById('id00');
    if(mytextObj.className == 'show'){
        mytextObj.style.display = "none";
        mytextObj.readOnly=false;
        mytextObj.className ='hide';
    }

  }else{
    selectedobj.style.display = "none";
    selectedobj.className ='hide';
 }
 test();
}
</script>
</div>
