<input type="button" value="Button" onclick="changeCSS()">
<input type="button" value="ChangeColor" onclick="changeColor()">
<input type="button" value="changebackgroundColor" onclick="changebackgroundColor()">

<div id="id00" style="display:block;" class='show' onclick="myfunc2()">

click me now  <br>
To show code
The function use onclick event and trigger myfunc2()
</div>

<style type='text/css'>
    pre{
        color:red;
        background:white;
    }
</style>
<div class='mypre'>
<pre>
Lucas George
Euler Leonhard
Pythagorean Theorem
Michael
</pre>
</div>

<div id="code00">
<textarea cols="20" rows="20" id="textArea" style="display:none;font-size:18px;" class="hide"></textarea>

<div class="element" style="font-size: 2em; color: red;">Lucas George</div>


<script type='text/javascript'>

function changeColor() {
    const styleSheet = document.styleSheets[0];
    console.log('color=' + styleSheet.cssRules[0].style.color);
    styleSheet.cssRules[0].style.color = 'green';
    console.log('color=' + styleSheet.cssRules[0].style.color);
}
function changebackgroundColor() {
    const styleSheet = document.styleSheets[0];
    console.log('color=' + styleSheet.cssRules[0].style.backgroundColor);
    styleSheet.cssRules[0].style.backgroundColor = 'blue';
    console.log('color=' + styleSheet.cssRules[0].style.backgroundColor);
}
function changeCSS() {
    // let preId = document.getElementById('mypre');
    const styleSheet = document.styleSheets[0];
    console.log('color=' + styleSheet.cssRules[0].style.color);
    
    const element = document.querySelector('.element')

    const fontSize = element.style.fontSize
    console.log(fontSize) // 2em
    const color = element.style.color
    console.log(color) // red
}

function myFunction() {
    var node = document.getElementById('id00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = textContent;
}

function myfunc2() {
 var selectedobj=document.getElementById('textArea');

  if(selectedobj.className=='hide'){  //check if classname is hide 
    selectedobj.style.display = "block";
    selectedobj.readOnly=false;
    selectedobj.className ='show';

    var node = document.getElementById('code00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = htmlContent;

    var mytextObj =document.getElementById('id00');
    if(mytextObj.className == 'show'){
        mytextObj.style.display = "none";
        mytextObj.readOnly=false;
        mytextObj.className ='hide';
    }

  }else{
    selectedobj.style.display = "none";
    selectedobj.className ='hide';
 }
}
</script>
</div>
