<div id="id00" style="display:block;" class='show' onclick="myfunc2()">
click me now  <br>
To show code
The function use onclick event and trigger myfunc2()
</div>

<div id="code00">
<textarea cols="20" rows="20" id="textArea" style="display:none;font-size:18px;" class="hide"></textarea>
<script src="/Users/cat/myfile/bitbucket/jslib/aronlib.js"></script>

<input type="button" value="Open a Popup Window" onclick="myFunction();">
<input type="button" value="but2" onclick="testChangeX('hi');">
<input type="text" id='testid' value="keypressbut">

<script>
function myFunction() {
    alert('clickme');
}


var delayX = function(value){
    return function(){
        doneTypingX(value);
    };
}

const inputField = document.getElementById('testid');

const delayFun = (x) => {
    alert(x)
}; 

// wait ms (milliseconds) after user stops typing to execute func
const delayKeyUp = (() => {
    let timer = null;
    const delay = (func, ms) => {
        timer ? clearTimeout(timer): null
        timer = setTimeout(func, ms)
    }
    return delay
})();


window.onload = function(){
    if(inputField){
        inputField.addEventListener('keyup', (e) => {
            const query = e.target.value;
            delayKeyUp(() => {delayFun(query)}, 2000);
        })
    }else{
        alert('inputField is null');
    }
}

function doneTypingX(value){
    alert('done typing X, Newton Interpolation Polynomial, topology homoemorphism and one to one function continuous and inverse fun');
    console.log('doneTypingX=' + value);
}

function doStuff(){
    alert('do stuff');
}

function testChangeX(value){
    // alert(value);
    console.log('testChange=' + value);
    if (len(value) > 2){
        // document.getElementById('inputid').value = value;
        let typingTimer;
        let typingInterval = 2000;
        // let myInput = document.getElementById('inputid');

        // fun('event', () => {abc});
        // event call lambda function  ()
            clearTimeout(typingTimer);
        // if(myInput.value){
            typingTimer = setTimeout(doStuff, typingInterval);
        //}
    }
}
</script>

</div>
