@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font: 400 24px "Zen Kurenaido", sans-serif;
}

:root {
  --color-222: #222;
  --color-fff: #fff;
}

.navbar {
  position: relative;
  width: 25vw;
  max-width: 300px;
  min-width: 220px;
  height: 100vh;
  padding: 20px 0 0 10px;

  background-color: var(--color-222);
  overflow: hidden;

  transition: 0.5s;
}

.navbar.act {
  width: 60px;
  min-width: 0;
}

.search-menu,
.box-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.search-menu {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  border-radius: 5px;
}

.btn-humb {
  min-width: 40px;
  height: 40px;

  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--color-fff);

  cursor: pointer;

  display: grid;
  place-content: center;
}

.search-menu:hover .btn-humb {
  background-color: var(--color-fff);
  color: var(--color-222);
}

.box-search {
  position: relative;
  width: calc(100% - 60px);

  border-radius: 100px;
  background-color: var(--color-fff);
}

.navbar.act .box-search {
  background-color: transparent;
}

.icon-search {
  position: absolute;
  left: 8px;

  color: #888;

  pointer-events: none;
}

.navbar.act .icon-search {
  color: transparent;
}

.search {
  width: 100%;
  height: 40px;

  text-align: center;
  font-size: 18px;

  border: none;
  border-radius: 100px;
}

.search:focus + .icon-search {
  display: none;
}

.search:focus {
  outline: none;
}

.list {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-list {
  position: relative;
  height: 50px;

  border-radius: 100px 0 0 100px;
  color: var(--color-fff);

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.item-list:hover::before,
.item-list:hover::after {
  content: "";
  position: absolute;
  right: 0;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
}

.item-list:hover::before {
  top: -45px;
  box-shadow: 22px 21px 0 var(--color-fff);
}

.item-list:hover::after {
  bottom: -45px;
  box-shadow: 22px -21px 0 var(--color-fff);
}

.icon-list {
  min-width: 38px;
  height: 38px;

  border-radius: 50px;
  display: grid;
  place-content: center;
}

.link-list {
  width: calc(100% - 50px);
  min-width: 140px;
  height: 40px;
  padding-left: 15px;

  border-radius: 100px 0 0 100px;

  color: var(--color-fff);
  line-height: 35px;
  line-break: none;

  display: block;
}

.item-list:hover .link-list,
.item-list:hover .icon-list {
  color: var(--color-222);
  background-color: var(--color-fff);
}

.item-list:hover .icon-list,
.box-btn-humb:hover .btn-humb {
  animation-name: icon-bg;
  animation-duration: 0.8s;
}

/* Quando o menu estiver ativo */

.navbar.act .item-list:hover::before,
.navbar.act .item-list:hover::after {
  box-shadow: none;
}

.navbar.act .link-list,
.navbar.act .item-list:hover .link-list {
  color: transparent;
  background-color: transparent;
}

@keyframes icon-bg {
  0% {
    transform: scale(0%) translate(100px);
  }

  50% {
    transform: scale(100%) translate(-8px);
  }

  75% {
    transform: scale(100%) translate(5px);
  }
  90% {
    transform: scale(100%) translate(-3px);
  }

  95% {
    transform: scale(100%) translate(1.5px);
  }
}

